* {
    box-sizing:border-box;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.colorNav {
    background-color: #9096E5;
    background-size: 100%;
    height: 100px;
        
}
@media (min-width:0px) and (max-width:900px) {
    .logomotion {
        position: relative;
        animation: logo 15s infinite;
        width: 30%;
    }
    @keyframes logo {
        0%   {top: 0%; left: 5%;}
        10%  {top: 30%; left: 20%;}
        20%   {top: 0%; left: 25%;}
        30%  {top: 30%; left: 30%;}
        40%   {top: 0%; left: 40%;}
        50%  {top: 30%; left: 50%;}
        60%   {top: 0%; left: 60%;}
        70%  {top: 30%; left: 70%;} 
        100% {top: 0%; left: 5%;}
    }
}
@media (min-width:900px) and (max-width:2500px) {
    .logomotion {
        position: relative;
        animation: logo 15s infinite;
    }
    @keyframes logo {
        0%  {top: 0%; left: 0%;}
        7%  {top: 50%; left: 0%;}
        14%  {top: 0%; left: 15%;}
        21%  {top: 50%; left: 15%;}
        28%  {top: 0%; left: 35%;}
        35%  {top: 50%; left: 35%;}
        49%  {top: 0%; left: 68%;}
        55%  {top: 50%; left: 68%;}
        63%  {top: 0%; left: 83%;}
        75%  {top: 50%; left: 83%;}
        100% {top: 0%; left: 0%;}
    }
}
.h2 {
    font-family: "santelia-rough-two", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    padding-top: 50px;
}

.h4 {
    font-family: "canvas-script", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 50px;
}

.colorNav2 {
    background-color:#9096E5;
    height: 130px;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.colorNav21 {
    background-color:#9096E5;
    height: 150px;

}
@media (min-width:0px) and (max-width:900px) {
    .colorNav2{
        display: none;
    }
}
.animationBtt1:hover {
    -webkit-animation: zoomIn;
    animation: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.colorNav2Alt {
    background-color: #9096E5;
    height: 90px;
    display: flex;
    justify-content: center;
}
@media (min-width:900px) and (max-width:2500px) {
    .colorNav2Alt{
        display: none;
    }
}

.caja1 {
    background:linear-gradient(to bottom,#9096E5,#E3856A,#BF505D); 
    height: auto;
    background-repeat: no-repeat; 
    padding-top: 50px;   
    padding-bottom: 50px;
}
.cajaUno {
    background-color:none ;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.collapse-body {
    background-color: #9096E5;
    background: position z -4px;;
}
.cajaDos {
    background-color:none;
    height: auto;
    padding-top: 20px;
    padding-right: 20px;
    text-align: justify;
 
}
@media (min-width:0px) and (max-width:900px) {
    .cajaDos {
        font-weight: 300; color:azure ;
    }
}

.colorNav3 {
    background-color:transparent;
    height: auto;
    padding-top: 10px;
}
.tecmotion {
    position: relative;
    animation: tecnicas 10s infinite;
}
@keyframes tecnicas {
    0%   {top: 0%; left: 0%; -webkit-transform: rotate(0deg);}
    15%  {top: 0%; left: 0%; -webkit-transform: rotate(15deg);}
    30%  {top: 0%; left: 0%; -webkit-transform: rotate(30deg);}
    45%  {top: 0%; left: 0%; -webkit-transform: rotate(45deg);}
    60%  {top: 0%; left: 0%; -webkit-transform: rotate(60deg);}
    100% {top: 0%; left: 0%; -webkit-transform: rotate(360deg);}
}
.blamotion {
    position: relative;
    animation: blandas 10s infinite;
}
@keyframes blandas {
    0%   {top: 0%; left: 0%; -webkit-transform: rotate(0deg);}
    15%  {top: 0%; left: 0%; -webkit-transform: rotate(-15deg);}
    30%  {top: 0%; left: 0%; -webkit-transform: rotate(-30deg);}
    45%  {top: 0%; left: 0%; -webkit-transform: rotate(-45deg);}
    60%  {top: 0%; left: 0%; -webkit-transform: rotate(-60deg);}
    100% {top: 0%; left: 0%; -webkit-transform: rotate(-360deg);}
}
.caja2 {
    background-color: #BF505D;
    height: 500px;
    background-repeat: no-repeat; 
    padding-top: 50px;   
}    
.caja3 {
    background: linear-gradient(to bottom,#BF505D,#592644);
    height: 500px;
    background-repeat: no-repeat; 
    padding-top: 50px;
}
.cajaTres {
    background-color:none;
    height: 550px;
    padding-top: 30px;
}
.cajaCuatro {
    background-color:none;
    height: 450px;
    padding-top: 30px;
    padding-left: 20px;
}

.colorNav4 {
    background-color:none;
    height: 150px;
    padding-top: 20px;
}
.cajaCinco {
    background-color:none ;
    height: 700px;
}

.colorNav7 {
    background-color:#5B2645;
    height: 120px;
    display: flex;
    justify-content: space-around;   
}


.quienSoy {
    animation-duration: 5s;
    }

.Habilidades {
    animation-duration: 15s;
}
.colorNav8 {
    text-align: center;
}
.scroll-buttons {
    position: fixed;
    right: 100px;
    bottom: 40px;
   
  }
.scroll-button {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: transparent;
  }
